﻿@model EjercicioLogin.Models.USUARIOS_Nombre

@{
    ViewBag.Title = "CrearUsuario";
}

<h2>CrearUsuario</h2>


@using (Ajax.BeginForm("CrearUsuario", "Login", null,
    new AjaxOptions
    {
        HttpMethod = "Post",
        LoadingElementId = "image_loading",
    }, new { @class = "form-horizontal", role = "form", id = "formCrear" }))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Genero, ViewData["generos"] as SelectList,new { @class = "form-control" } )
                @*@Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-enviar"/>
            </div>
        </div>
    </div>
}
<div class="col" id="ajaxtarget">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function successFun(data, status) {
            $('#modal-usuario-body').html(data);
            $('#modal-eliminar').modal('show');
        }
        ListarUsuarios();
        function ListarUsuarios() {
            $.post('ListarUsuario', {}, function (datos) {
                console.log(datos);
                $('#ajaxtarget').html(datos);
            })
        }

        $('#btn-enviar').click(function (e) {
            e.preventDefault();
            //alert('enviando');
            $.ajax({
                type: "POST",
                url: 'CrearUsuario',
                data: $('#formCrear').serialize(),
                success: function (data) {
                    console.log(data);
                    $("#formCrear")[0].reset();
                    //if (data == "OK") {
                        ListarUsuarios();
                    //}
                }
            })
        })
    </script>
}
