﻿.frm-login{
    width: 40%;
    margin: auto;
    margin-top: 200px;
    /*border: 1px solid green;*/
    padding: 10px;
    border-radius: 5px;
    background: #f1f1f1;
}

.frm-login .form-horizontal{
    margin-left: 40px;
}
.frm-login .titulo{
    font-weight: bold;
    text-align: center;
    color: orange;
}

.frm-login input[type=submit]{
    background: #0094ff;
    font-size: 20px;
    color: #fff;
}


.frm-login input[type=submit]:hover{
    background: #fff;
    border: 1px solid #0094ff;
    color: #0094ff;
}
