﻿@model IEnumerable<EjercicioLogin.Models.USUARIOS_Nombre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "CrearUsuario", new { id="btn-crear"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadenaActivo)
            </td>
            <td>
                <a href="#" class="btn btn-danger" data-id="@item.ID"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
    }
</table>

<div id="modal-eliminar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Usuario</h4>
            </div>
            <div class="modal-body" id="modal-usuario-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            function successFun(data, status) {
                $('#modal-usuario-body').html(data);
                $('#modal-eliminar').modal('show');
            }

            $('.btn-danger').click(function () {
                var serviceUrl = '/Usuario/Eliminar/' + $(this).data('id');
                $.ajax({
                    type: "GET",
                    url: serviceUrl,
                    success: successFun
                })
            })
        })
    </script>
}
